/docker/phpmyadmin
/docker/mysql
/laravel

# https://github.com/github/gitignore/blob/master/Laravel.gitignore
/laravel/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 5 & Lumen specific
/laravel/public/storage
/laravel/public/hot

storage/*.key
.env
Homestead.yaml
Homestead.json
/laravel/.vagrant
.phpunit.result.cache
